  #education {
    /* margin-top: 250px; */
    /* height: 100vh; */

    margin-top: 150px;
    padding-top: 100px;
    padding-bottom: 100px;
    /* display: grid; */
    /* -ms-flex-align: center; */
    border-radius: 10px;
    /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); */
    
  }
  .education-section {
    /* padding: 150px; */
    
    margin: 0 auto;
    /* text-align: center; */
    animation: fadeIn 1.2s ease-in-out;
  }
  
  .education-section h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .education-section h4 {
    color: #a2778f;
    font-weight: 700;
    margin-top: 25px;
  }
  
  .education-item {
    background-color: #f4f4f4;
    padding: 50px;
    margin-bottom: 50px;
    border-radius: 8px;
    border-bottom-left-radius: 25px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    border-left: 25px solid transparent; 
}

.education-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: -25px;
    bottom: 0;
    width: 20px;
    background: linear-gradient(100deg, #a2778f, #abd7cc);
    border-bottom-left-radius: 55px;
}

  
  .education-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }
  
  .education-item h3 {
    font-size: 1.6rem;
    color: #2c3e50;
  }
  
  .education-item p {
    font-size: 1.2rem;
    color: #7f8c8d;
    margin-top: 25px;
  }
  
  /* Animacija za fadeIn */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  